.toggle:checked {
    @apply appearance-none;
    @apply outline-none;
    @apply cursor-pointer;
    @apply w-8;
    @apply h-8;
    @apply rounded-full;
    @apply text-white;
    @apply scale-75;
    transition: all 500ms;
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
}

.toggle {
    @apply appearance-none;
    @apply outline-none;
    @apply cursor-pointer;
    @apply w-8;
    @apply h-8;
    @apply rounded-full;
    @apply text-amber-500;
    @apply scale-75;
    @apply bg-black;
    @apply border;
    transition: all 500ms;
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}